.close-btn {
    border: none; /* Remove borders */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    color: rgb(63, 63, 63);
    background: none;
  }

.close-btn:hover {
    color:rgb(117, 117, 117)
  }

/* .recommendation-card{
    border-style: none;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(253, 253, 253);
    margin-bottom: 20px;
    padding:10px;
} */

#recommendations{
    text-align: center;
    /* width:20%; */
}

#recommendations-container{
    /* width:20%; */
    text-align: center;
}

.recommendation-card{
  border-style: none;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    /* background-color: rgb(253, 253, 253); */
  height:auto;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 20px;
}

.number-container{
  grid-area: 1 / 1 / 5 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-name-container{
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-name-container{
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year-container{
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genres-container{
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.percent-container{
  grid-area: 1 / 3 / 5 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}