{% extends "layout.html" %}
{% block content %}

<div id="app" class="col-md-8 mx-auto">
    <p class="fs-1 mb-5 text-center">Enter your favourite songs below:</p>

    <form @submit.prevent="submitForm" class="container text-center px-5">
        <div v-for="(song, index) in user_songs" :key="index" class="container">
            <div class="row align-items-center gx-2">
                <div class="col">
                    <input type="text" v-model="song.artist" required class="form-control" placeholder="Artist name"
                        aria-label="Artist name">
                </div>
                <div class="col">
                    <input type="text" v-model="song.name" required class="form-control" placeholder="Song title"
                        aria-label="Artist name">
                </div>

                <div class="col-1 align-bottom justify-content-start" style="width:1%">
                    <button v-if="index > 0" type="button" class="close-btn" @click="removeSong(index)"><i class="bi bi-trash3-fill"></i></button>
                </div>

            </div>

        </div>
        <button type="button" class="btn btn-primary m-2" @click="addSong"><i class="bi bi-plus-circle mx-2"></i>Add
            Another Song</button>
        <br>
        <input type="submit" class="btn btn-primary m-2" value="Submit">
    </form>
</div>



<script type="module" src="{{url_for('static', filename='script.js')}}">

</script>





{% endblock %}