<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Music Recommendation System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.11/dist/vuetify.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



</head>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.11/dist/vuetify.min.js"></script>


<body>
    <div id="app" class="d-flex flex-column h-100">

        {% include 'navbar.html' %}

        <div class="d-flex flex-column align-center justify-start flex-1-1">
            {% block content %}
            {% endblock %}
        </div>
        <v-progress-linear indeterminate :height="5" :active="recommendationsLoading"></v-progress-linear>
        {% include 'footer.html' %}
    </div>

    {% block scripts %}
    {% endblock %}



</body>

</html>