{% extends "layout.html" %}
{% block content %}

<div>
    <div class="text-h4 mb-10">Your recommendations:</div>
</div>

{% for song in songs %}
<v-card class="w-50 mb-5">
    <v-card-item>
        <v-card-title>{{ song.name }}</v-card-title>

        <v-card-subtitle>{{ song.artists[0] }}</v-card-subtitle>
    </v-card-item>

    <v-card-text>
        {% for genre in song.genres[:8] %}
        <v-chip class="mr-2 mt-2 ">{{ genre }}</v-chip>
        {% endfor %}

    </v-card-text>

    <v-card-actions>
        <v-btn href="{{ 'https://open.spotify.com/track/' + song.id}}" target="_blank">
            <i class="bi bi-spotify mr-2"></i>Listen on Spotify
        </v-btn>
    </v-card-actions>
</v-card>

{% endfor %}

{% endblock %}

{% block scripts %}

<script type="module" src="{{url_for('static', filename='recommendations-page.js')}}"></script>

{% endblock %}