{% extends "layout.html" %}
{% block content %}

<h1>Music Data Table</h1>
    <table>
        <tr>
            <th>Year</th>
            <th>Artists</th>
            <th>Danceability</th>
            <th>Energy</th>
            <th>ID</th>
            <th>Instrumentalness</th>
            <th>Name</th>
            <th>Popularity</th>
            <th>Tempo</th>
            <th>Genres</th>
            <th>Genre Compatibility</th>
            <th>Cosine Similarity</th>
        </tr>
        {% for item in music_data %}
        <tr>
            <td>{{ item.year }}</td>
            <td>{{ item.artists }}</td>
            <td>{{ item.danceability }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.instrumentalness }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.popularity }}</td>
            <td>{{ item.tempo }}</td>
            <td>{{ item.genres }}</td>
            <td>{{ item['genre compatibility'] }}</td>
            <td>{{ item.cosine_similarity }}</td>
        </tr>
        {% endfor %}
    </table>

    
{% endblock %}